@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  width: 100%;
  background: rgba(0, 3, 54, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  font-family: "DM Sans";
  padding: 30px;
  .customForm {
    width: 100%;
    // overflow: hidden;
  }
  &__logo {
    @include flexProperties(row, center, center, $fullWidth: true);
    margin-bottom: 20px !important;
    &__img {
      height: 90px !important;
      // width: 83px !important;
    }
    &__text {
      font-size: 59px !important;
      text-transform: uppercase;
      font-family: "NewTitle";
    }
  }

  &__horizontalLine {
    width: 100%;
    background-color: #707070;
    height: 2px;
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__form {
    &__main {
      @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
      width: 100%;
      gap: 10px;

      &__field_container {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
        width: 100%;
        gap: 10px;

        // background-color: red !important;

        &__label {
          @include customFontsSmallTags();
        }

        &__input {
          // width: calc((100% - 1.8%));
          color: #000 !important;
          border-style: none;
          background: #ffffff !important;
          outline: none;
          padding: 12px 15px;
          font-size: 14px;
          border-radius: 12px;
          // border: 2px solid #ffffff;

          // &:focus {
          //   border: 2px solid #4ffcb7 !important;
          // }
        }
      }

      &__form_action {
        @include flexProperties(row, space-between, center, $fullWidth: true);
        width: 100%;
        &__forgotPasswordText {
          color: red;
          text-decoration: underline;
        }
      }

      &__action {
        @include flexProperties(row, center, center, $fullWidth: true);
        width: calc(100%);
        margin-top: 20px;

        &__btn {
          @include activeThemeBotton(16px, 10px);
          width: 100%;
        }

        &__register_btn {
          @include activeThemeBotton(16px, 10px);
          @include fontSize(16px);
        }
      }

      &__dnthaveaccount {
        @include customParagraph(12px);
        font-weight: 400 !important;
        &__spantwo {
          text-decoration: none;
          padding-left: 10px;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__social_media {
    margin-top: 20px;

    &__button {
      padding: 5px;
      height: 100%;
      background: "#FFFFFF";
      width: 100%;
      cursor: pointer;

      &__img {
        height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 466px) {
  .page {
    padding: 20px;
  }
}

@media only screen and (max-width: 386px) {
  .page {
    padding: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .page {
    padding: 20px;
    &__logo {
      &__text {
        font-size: 22px !important;
      }
    }
  }
}

@media only screen and (max-width: 365px) {
  .page {
    padding: 20px;
    &__logo {
      &__text {
        font-size: 18px !important;
      }
    }
  }
}

@media only screen and (max-width: 326px) {
  .page {
    padding: 20px;
    &__logo {
      gap: 10px;
      margin-bottom: 10px;
      &__img {
        height: 80px;
      }
      &__text {
        font-size: 16px !important;
      }
    }
  }
}
