@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  width: 50%;
  // padding-right: 60px;
  padding: 30px 60px;
  background: rgba(0, 3, 54, 0.1);
  border-radius: 12px;
  // padding: 10px 10px; // Make sure this color has an opacity of less than 1

  backdrop-filter: blur(10px);

  &__logo {
    @include flexProperties(center, center, $fullWidth: true);
  }

  &__horizontalLine {
    width: 100%;
    background-color: #707070;
    height: 2px;
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__form {
    &__main {
      @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
      width: 100%;
      gap: 10px;

      &__field_container {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
        width: 100%;
        gap: 10px;

        &__label {
          color: #4ffcb7;
          font-size: 12px;
        }

        &__input {
          width: 100%;
          color: #000 !important;
          border: 1px solid #00cd98 !important;
          background: #ffffff !important;
          outline: none;
          padding: 15px;
          font-size: 12px;
          border-radius: 8px;
        }
      }

      &__form_action {
        @include flexProperties(row, space-between, center, $fullWidth: true);
        width: 100%;
        &__forgotPasswordText {
          color: red;
          text-decoration: underline;
        }
      }

      &__action {
        @include flexProperties(row, space-between, center, $fullWidth: true);
        flex-wrap: nowrap;
        gap: 20px;
        width: 100%;
        margin-top: 20px;

        &__btn {
          @include normalThemeButton(16px, 10px);
          @include fontSize(14px);
          color: black !important;

          &:hover {
            background: #01a177 !important;
          }
        }

        &__register_btn {
          @include pinkThemeButton(16px, 10px);
          @include fontSize(16px);
        }
      }

      &__dnthaveaccount {
        margin-top: 10px;
        &__spantwo {
          text-decoration: none;
          padding-left: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__social_media {
    margin-top: 20px;

    &__button {
      padding: 5px;
      height: 100%;
      background: "#FFFFFF";
      width: 100%;
      cursor: pointer;

      &__img {
        height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 466px) {
  .page {
    padding: 20px;
  }
}

@media only screen and (max-width: 386px) {
  .page {
    padding: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .page {
    padding: 20px;
    &__logo {
      &__text {
        font-size: 22px !important;
      }
    }
  }
}

@media only screen and (max-width: 365px) {
  .page {
    padding: 20px;
    &__logo {
      &__text {
        font-size: 18px !important;
      }
    }
  }
}

@media only screen and (max-width: 326px) {
  .page {
    padding: 20px;
    &__logo {
      gap: 10px;
      margin-bottom: 10px;
      &__img {
        height: 80px;
      }
      &__text {
        font-size: 16px !important;
      }
    }
  }
}
