@import "../../../../styles/scss.scss";
@import "../../../../styles/colors.scss";

.page {
  @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
  padding: 20px;
  font-family: "DM Sans";

  &__caption {
    @include customFontsSmallTags();
  }

  &__header {
    @include flexProperties(row, flex-start, center, $fullWidth: true);
    width: 100%;
    gap: 20px;
    // background-color: antiquewhite;

    &__input {
      background: #00002a;
      color: #979797 !important;
      width: 300px;
    }

    &__upload_btn {
      @include activeThemeBotton(16px, 10px);
      @include fontSize();
      width: 139px;
      height: 40px;
      color: $base-container-backgroung-color !important;
      margin-top: 10px !important;
    }
    &__upload_btn_disable {
      @include activeThemeBotton(16px, 10px);
      @include fontSize();
      width: 139px;
      height: 40px;
      color: $base-container-backgroung-color !important;
      margin-top: 10px !important;
      opacity: 0.5;
    }

    &__btn_pink {
      @include cancelDeactiveBtn(16px, 10px);
      width: 139px;
      height: 40px;
      padding: 10px !important;
    }

    &__btn_normal {
      @include activeThemeBotton(16px, 10px);
      width: 139px;
      height: 40px;
      padding: 10px !important;
    }
  }

  &__green {
    color: green;
  }

  &__red {
    color: red;
  }

  &__content {
    @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
    gap: 10px;

    &__heading {
      @include customHeading(20px);
      margin: 20px 0px 20px 0px;
    }

    &__sub_heading {
      @include customHeading(20px);
      margin-top: 20px;
    }
  }
  .selectDropDown {
    background-color: $base-container-backgroung-color !important;
    color: $base-heading-color !important;
  }
}

@media only screen and (max-width: 1340px) {
  .page {
    &__header {
      flex-wrap: wrap;
      gap: 20px;

      &__input {
        width: 100%;
      }
    }

    &__content {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .page {
    &__header {
      flex-wrap: nowrap;
      gap: 20px;

      &__input {
        width: 300px;
      }
    }

    &__content {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page {
    &__header {
      flex-wrap: wrap;
      gap: 20px;

      &__input {
        width: 100%;
      }

      &__btn_container {
        width: 100%;
      }

      &__upload_btn {
        // width: 100%;
      }

      &__btn_pink {
        // width: 100%;
      }
    }

    &__content {
      margin-top: 20px;
    }
  }
}
