@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
    border: 1px solid #4ffcb7;
    background-color: #192233;
    border-radius: 10px;
    padding: 20px;
    color: $base-text-color;
    text-align: center;
    font-size: 20px;
}
