// ? new csss
@import "../../../styles/scss.scss";
@import "../../../styles/colors.scss";

.blankHeight {
  height: 138px !important;
}
.rightBox {
  display: flex;
  flex-direction: column;
  gap: 87px;
  button {
    background-color: #4ffcb7;
    border-radius: 12px;
    padding: 6px 15px;
    color: #222c41;
    box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.61);
    font-size: 14px;
    font-weight: bold;
    &:hover {
      background-color: #4ffcb7;
    }
  }
}

.tabDisplay {
  display: block;
}

.tabHide {
  display: none;
}

.page {
  @include flexProperties(row, center, flex-start, $fullWidth: true);
  // gap: 20px;
  font-family: "DM Sans" !important;
  // display: none !important;
  // height: 200px !important;
  // overflow: hidden !important;
  background: $secondary-bg-color-1;
  border-radius: 12px;
  &__artist {
    flex: 1;
    width: 100%;

    &__box {
      // height: 674px;
      // height: 100%;
      // height: 43.5rem;
      // height: 45.1rem;
      height: 100%;
      // @include flexProperties(column, flex-start, center, $fullWidth: true);
      // border-radius: 12px 0px 0px 12px;
      width: 100%;
      // overflow: hidden;
      &__rightBox {
        height: 100%;
        background: $secondary-bg-color-1;
        // border-radius: 0px !important;
        width: 100%;
        // border-left: 1px solid #5a7380;

        .topHeading {
          padding-left: 30px;
          padding-top: 30px;
          color: white;
          font-weight: bold;
          font-size: 34px;
          border-bottom: 1px solid #5a7380;
          padding-bottom: 36px;
          height: 7.33rem !important;
        }
        .centerSide {
          border-right: 1px solid #5a7380;
          //   padding-left: 30px;
          padding-top: 30px;
          height: 100%;
        }
      }
      &__editbtn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        z-index: 1;
        &__icon {
          padding: 15px !important;
        }
        &__btnICon {
          display: none !important;
          box-shadow: 0px 5px 26px 36px rgba(250, 16, 45, 0.61);
          -webkit-box-shadow: 0px 5px 26px 36px rgba(250, 16, 45, 0.61);
          -moz-box-shadow: 0px 5px 26px 36px rgba(250, 16, 45, 0.61);
        }
      }

      &__topdetails {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        width: 100%;
        gap: 20px;
        height: 88px;

        &__image {
        }

        &__details {
          font-family: "DM Sans";
          color: #ffffff;
          align-items: center;
          justify-content: center;

          &__artistname {
            font-size: 24px;
            font-weight: 700;
            text-align: left;
          }
          &__email {
            font-size: 14px;
            text-decoration: underline;
          }
          &__country {
            font-size: 14px;
          }
        }
      }

      &__horizontalline {
        width: calc(100%) !important;
        height: 1px !important;
        background-color: #5a7380;
      }

      &__listnership {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 20px !important;
        height: 102px;
        &__topheading {
          font-size: 12px !important;
          color: #4ffcb7;
          font-weight: 500 !important;
          font-family: "DM Sans";
        }
        &__innerlyer {
          // display: flex;
          // flex-wrap: wrap;
          // align-items: center;
          // justify-content: space-between;
          // gap: 10px;
          &__text1 {
            font-size: 12px !important;
            color: #4ffcb7;
          }
          &__text2 {
            font-size: 38px !important;
            font-weight: 700;
          }
          &__trending {
            display: flex;
            flex-direction: row !important;
            align-items: center;
            justify-content: center;
          }
          &__text3 {
            font-size: 12px !important;
          }
        }
      }

      &__platforms {
        width: 100%;
        padding: 20px;
        height: 102px;

        &__text {
          font-size: 12px !important;
          font-weight: 500 !important;
          color: #4ffcb7;
          margin-bottom: 20px !important;
          font-family: "DM Sans";
        }

        &__socials {
          width: 100%;
          @include flexProperties(
            row,
            flex-start,
            flex-start,
            $fullWidth: false
          );
          gap: 5px;
          &__icons {
            width: 26px;
            height: auto;
            // margin: auto;
            display: block;
          }
        }
      }

      &__genre {
        background: $secondary-bg-color-1;
        width: 100%;
        height: 105px;
      }

      &__tracks_info {
        width: 100%;
        display: flex;
        padding: 20px 0px 0px 25px;
        height: 102px;
        &__container {
          align-items: center;
          justify-content: center;
          &__text {
            color: #4ffcb7;
            font-size: 12px !important;
            font-weight: 500 !important;
          }
          &__text2 {
            color: #fff;
            font-size: 28px !important;
            font-weight: 700 !important;
            // text-align: center;
          }
        }
        &__containerright {
          color: #ffffff;
          padding-left: 20px;
          align-items: center;
          justify-content: center;

          &__text {
            font-size: 12px;
            padding-bottom: 10px;
          }
        }
      }

      &__buttons_container {
        padding: 20px !important;
        margin-top: 20px;
        button {
          width: 100% !important;
          border-radius: 12px !important;
        }
        &__fundingBtn {
          color: #222c41 !important;
          background-color: #498e72 !important;
          margin-bottom: 6px !important;
        }
        &__editDash {
          color: #fff !important;
          background-color: #5a7380 !important;
          margin-top: 10px !important;
        }
      }
      &__endBox {
        // border-radius: 0px 12px 12px 0px !important;
        &__last {
          width: 100%;
          height: calc(100% - 138px);
          // border-top: 1px solid #5a7380;
          // border-left: 1px solid #5a7380;
        }
      }
    }
  }

  &__loader {
    @include flexProperties(column, center, center, $fullWidth: true);
    width: 100%;
    height: 100%;
  }

  &__details {
    flex: 1;
    width: 100%;

    &__box {
      @include flexProperties(
        column,
        flex-start,
        flex-start,
        $fullWidth: false
      );
      width: 100%;
      gap: 20px;

      &__adetails {
        width: 100%;
        background: $secondary-bg-color-1;
        border-radius: 12px;
        padding: 20px;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;

          &__title {
            color: $base-text-color-secondary;
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
          }

          &__btn {
            background: $secondary-bg-color-3 !important;
            color: $base-text-color !important;
            border-radius: 10px !important;
            font-size: 16px !important;
            cursor: pointer;
            text-transform: capitalize !important;
            width: 139px;
            height: 40px;
            border: none;
            padding: 5px 20px !important;
            font-family: "DM Sans" !important;

            &:hover {
              background: #01a177 !important;
              border-color: #01a177 !important;
            }
          }
        }

        &__content {
          @include flexProperties(
            row,
            space-between,
            center,
            $fullWidth: false
          );
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 40px;

          &__box {
            @include flexProperties(row, flex-start, center, $fullWidth: false);
            flex-wrap: wrap;
            gap: 10px;
            width: 45%;

            &__title {
              color: $base-text-color;
              font-size: 16px;

              &__image {
                height: 20px;
                width: 20px;
                cursor: pointer;
              }
            }

            &__value {
              color: white;
              font-size: 14px;
            }
          }
        }
      }

      &__tracks {
        width: 100%;
        background: $secondary-bg-color-1;
        border-radius: 12px;
        padding: 20px;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;

          &__title {
            color: $base-text-color;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }

          &__btn {
            background: $secondary-bg-color-3 !important;
            color: $base-text-color !important;
            border-radius: 25px !important;
            font-size: 14px;
            cursor: pointer;
            text-transform: uppercase;
            border: none;
            padding: 5px 20px !important;
            font-family: "DM Sans" !important;

            &:hover {
              background: #01a177 !important;
            }
          }
        }
      }
    }
  }

  &__similar {
    flex: 1;
    height: 100%;
    width: 100%;

    &__box {
      background: $secondary-bg-color-1;
      //   border-radius: 12px;
      height: 100%;
    }
  }
  .contract {
    padding-left: 20px;
    margin-top: 30px;
    position: relative;
    z-index: 999;
    .initiate {
      display: flex;

      .btn1 {
        border-radius: 12px 0px 0px 12px;
        padding: 5.5px 20px 5.5px 40px !important;
        font-size: 14px;
        background-color: #4ffcb7;
        font-weight: bold;
        color: #222c41;
        border: 2px solid #4ffcb7;
      }

      .btn2 {
        border-radius: 0px 12px 12px 0px;
        padding: 8.3px 13px !important;
        border-left: 2px solid #222c41;
        font-size: 20px;
        font-weight: 700 !important;
        background-color: #4ffcb7;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .transparentBtn {
        background-color: transparent;
        color: #4ffcb7;
      }
      .transparentBtn2 {
        border: 2px solid #4ffcb7;
        border-left: none;
        background-color: transparent;
        color: #4ffcb7;
      }
    }
    .contractDetails {
      position: absolute;
      top: 60px;
      bottom: 0px;
      z-index: 1;
      .mainContainer {
        width: 350px;
        height: 300px;
        border: 2px solid #4ffcb7;
        border-radius: 12px;
        background-color: #192233;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        .chipStyle {
          width: 100%;
          display: flex;
          padding: 14px;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          border-radius: 12px;
          justify-content: center;
          background-color: #5a7380;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 1201px) {
  .tabDisplay {
    display: none;
  }

  .tabHide {
    display: block;
  }
}
@media only screen and (max-width: 1250px) {
  .page {
    &__artist {
      &__box {
        &__topdetails {
          // display: none !important;
          padding-left: 0px !important;
          gap: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .page {
    height: 100% !important;
    .blankHeight {
      height: 10px !important;
      button {
        display: none !important;
      }
    }
  }
}
@media only screen and (max-width: 1150px) {
  .page {
    @include flexProperties(row, center, flex-start, $fullWidth: true);
    // gap: 20px;
    font-family: "DM Sans" !important;

    &__artist {
      flex: 1;
      width: 100%;

      &__box {
        height: 100%;
        // border-radius: 12px 12px 0px 0px !important;
        &__topdetails {
          padding-left: 10px !important;
        }
        &__rightBox {
          border: none !important;
          // border-radius: 0px !important;
        }
        &__endBox {
          // border-radius: 0px 0px 12px 12px !important;
          &__last {
            border-radius: 0px 0px 12px 12px !important;
            border-left: none !important;
            height: calc(100% - 10px);
            padding-bottom: 20px;
          }
        }
        &__rightBoxCss {
          margin-left: 20px;
        }
        .rightBox {
          margin-left: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .page {
    &__artist {
      &__box {
        &__topdetails {
          padding-left: 0px;
        }
        &__rightBoxCss {
          // gap: 10px !important;
          flex-wrap: wrap-reverse;
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .page {
    &__artist {
      &__box {
        &__rightBoxCss {
          gap: 10px !important;
          // flex-wrap: wrap-reverse;
        }
      }
    }
  }
}
@media only screen and (max-width: 1700px) {
  .page {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 684px) {
  .page {
    &__artist {
      flex: 1;

      &__box {
        min-height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 434px) {
  .page {
    &__details {
      &__box {
        &__adetails {
          &__content {
            @include flexProperties(
              column,
              flex-start,
              flex-start,
              $fullWidth: false
            );
            gap: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 630px) and (max-width: 1199.98px) {
  .page {
    flex-direction: column;
    align-items: center;
  }
}

.page {
  display: flex;

  &__artistInfo {
    width: 953px;
    height: 320px;
    background: transparent linear-gradient(137deg, #0078ac 0%, #870033f2 100%)
      0% 0% no-repeat padding-box;
    border-radius: 15px;
    align-items: center;

    &__imagleCircle {
      height: 210px;
      width: 210px;
      border-radius: 50%;
      background: linear-gradient(90deg, #36a1ff, #2f3443);
      display: flex;
      justify-content: center;
      align-items: center;

      &__inner_cirlcle {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background: linear-gradient(128deg, #016da7 56%, #870033f2 120%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__innerdetails {
      display: flex;

      align-items: center;
    }

    &__balance {
      width: 346px;
      height: 254px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      margin-top: 34px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
    &__inputfields {
    }
    &__sendTab {
      &__inputfields {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
      }
    }
    &__confirmTab {
      display: flex;
      justify-content: space-between;
    }
    &__offer {
    }
    &__Accept {
    }
    &__customizeTab {
      margin-left: 30px;
    }
  }

  &__rightsidetabs {
    margin-left: 24px;
    border-radius: 15px;
    color: white;
    &__searchTracks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 45px;
      margin-left: 37px;
    }
    &__customizeFunding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 45px;
      margin-left: 37px;
    }
    &__search_container {
      width: 90%;
      position: relative;
      margin-top: 18px;

      &__search_input {
        width: 100%;
        color: white !important;
        border: 1px solid #36a1ff !important;
        background: transparent;
        outline: none;
        padding: 15px;
        font-size: 18px;
        border-radius: 8px;
      }
      &__search_icon {
        position: absolute;
        right: 20px;
        top: 13px;
      }
    }
  }
}

.fundingDash {
  height: 138px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  position: relative;
  width: 100%;
  div {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    padding-left: 20px;
    padding-top: 20px;
  }
}
.fontSize {
  font-size: 12px !important;
  font-weight: 500 !important;
  white-space: nowrap !important;
}
.numFont {
}
// @media only screen and (max-width: 1440px) {
//   .fontSize {
//     white-space: nowrap;
//     font-size: 12px;
//   }
// }
@media only screen and (max-width: 600px) {
  .fundingDash {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 1300px) {
  .page {
    &__artist {
      &__box {
        &__listnership {
          &__topheading {
          }
          &__innerlyer {
            &__text2 {
              font-size: 30px !important;
            }
          }
        }
        &__tracks_info__containerright__text {
          font-size: 10px !important;
        }
        &__fontSize {
          font-size: 30px !important;
        }
        &__albumList {
          gap: 10px !important;
        }
      }
    }
  }
  .adjustElements {
    margin-top: -10px;
  }
  .rightBox {
    button {
      padding: 5px 10px;
    }
  }
}
.adjustElements {
  margin-top: -20px;
}
