@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.modalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #383e51;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #000000;
  padding: 20px;
  color: #ffffff;
  border: none;

  &__closebutton {
    text-align: right;
    img {
      cursor: pointer;
    }
  }

  &__textfield {
    background-color: #192233;
    border-radius: 12px;
    resize: none;
    width: 60vw;
    color: #fff !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;

    &:focus {
      outline: none !important;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    &__urev {
      margin-right: 5px !important;
      border-radius: 12px !important;
      padding: 15px 20px !important;
    }

    &__cmnt {
      border-radius: 12px !important;
      padding: 15px 20px !important;
    }
  }
}

.page {
  @include flexProperties(row, flex-start, flex-start, $fullWidth: true);
  gap: 0px;

  &__details {
    flex: 1;
    width: 100%;

    &__box {
      @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
      width: 100%;
      gap: 20px;

      &__tracks {
        width: 100%;
        background: $base-container-backgroung-color;
        border-radius: 12px;
        padding: 20px;
        height: 675px;
        max-height: 675px;
        overflow: hidden;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;
          &__img_title_container {
            @include flexProperties(row, flex-start, center, $fullWidth: true);
            &__img_container {
            }
            &__title {
              @include customHeading(24px);
              margin-left: 20px !important;
            }
          }
          &__amendbtn {
            height: 40px !important;
            width: 264px !important;
            @include activeThemeBotton(14px, 12px);
          }
        }
      }

      &__details {
        @include flexProperties(row, flex-start, flex-start, $fullWidth: false);
        width: 100%;
        gap: 20px;
        margin-top: 40px;
        &__innerbox {
          @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
          background-color: $base-inner-container-background-color !important;
          border-radius: 12px !important;
          margin-right: 12px !important;
          padding: 10px;
          color: #ffffff;
          width: 200px;
          height: 80px;
          text-align: center;
          &__top_heading {
            @include customFontsSmallTags(12px);
          }
          &__heading {
            @include customHeading(28px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .page {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 684px) {
  .page {
    &__artist {
      flex: 1;

      &__box {
        min-height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 434px) {
  .page {
    &__details {
      &__box {
        &__adetails {
          &__content {
            @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
            gap: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 630px) and (max-width: 1199.98px) {
  .page {
    flex-direction: column;
    align-items: center;
  }
}
