.customPanel {
  font-family: "DM Sans";
  width: 100% !important;
  height: 100% !important;
  background: #222c41 !important;
  color: white !important;
  border-radius: 12px;
  padding: 20px;
  // margin-top: 20px;
  .contractContainer {
    .contractList {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .list {
        width: 100%;
        background-color: #192233;
        border-radius: 12px;
        padding: 20px 30px;
        .listContent {
          display: flex;
          justify-content: space-between;
          // align-items: center;
        }
      }
    }
  }
}
