@import "../../../styles/colors.scss";
@import "../../../styles/scss.scss";

.customPanel {
  font-family: "DM Sans";
  width: 100% !important;
  height: 100% !important;
  background: $base-container-backgroung-color !important;
  color: $base-heading-color !important;
  border-radius: 12px;
  padding: 20px;
  // margin-top: 20px;
  .contractContainer {
    .contractList {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .list {
        width: 100%;
        background-color: $base-inner-container-background-color;
        border-radius: 12px;
        padding: 20px 30px;
        .listContent {
          display: flex;
          justify-content: space-between;
          // align-items: center;
        }
      }
    }
  }
}
