@import "../../styles/scss.scss";
@import "../../styles/colors.scss";
.table {
  //   background: $base-container-backgroung-color !important;
  background: $base-container-backgroung-color !important;

  &__col {
    @include customFontsSmallTags();
    background: $base-container-backgroung-color !important;
    text-align: left !important;
    white-space: nowrap;
    border-bottom: 1px solid $base-border-line-color !important;
    &__checkBox {
      svg {
        color: $base-button-background-color;
      }
    }
  }

  &__row {
    color: $base-heading-color !important;
    border: none !important;
    outline: none !important;
    background-color: $base-inner-container-background-color !important;
    text-align: left !important;
    max-width: 100% !important;
    &__checkBox {
      svg {
        color: $base-button-background-color;
      }
    }
    &__avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}
.page {
  margin-top: 20px;
  font-family: "DM Sans" !important;

  &__new_music {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    // flex-wrap: wrap;
    // align-items: center;
    gap: 20px;
    width: 100%;
    &__main {
      @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
      margin-top: 20px;
      gap: 20px;

      &__form {
        @include flexProperties(
          column,
          flex-start,
          flex-start,
          $fullWidth: true
        );
        gap: 30px;

        &__form_fields {
          @include flexProperties(row, flex-start, center, $fullWidth: true);
          gap: 20px;

          &__input {
            border-bottom: 1px solid $base-heading-color;
            border-top: none !important;
            border-left: none;
            border-right: none;
            font-family: "DM Sans" !important;
            outline: none !important;
            background: transparent;
            padding: 5px 0px;
            color: $base-heading-color !important;
            @include fontSize(20px);
            background-color: transparent;
            width: 110px;
            font-weight: bold;
            &::placeholder {
              color: #6d7480;
              font-size: 20px;
              font-weight: bold;
            }

            &:focus {
              // outline: $base-button-background-color solid 2px !important;
            }
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          &__select {
            border-bottom: 1px solid $base-heading-color;
            border-top: none !important;
            border-left: none;
            border-right: none;
            outline: none !important;
            background: transparent;
            padding: 5px 0px;
            width: 160px;
            @include fontSize(20px);
            color: #6d7480;
            font-weight: bold !important;

            option {
              background-color: $base-heading-color;
              font-size: 18px !important;
              color: #000 !important;
            }

            &:focus {
              // outline: $base-button-background-color solid 2px !important;
            }
          }
        }

        &__button {
          background-color: $base-button-background-color !important;
          color: $base-container-backgroung-color !important;
          border-radius: 12px !important;
          font-size: 14px !important;
          gap: 1px;
          cursor: pointer;
          font-weight: bold !important;
          padding: 7px 16px !important;

          &:hover {
            background: $base-button-background-color !important;
          }
        }
        &__button2 {
          background-color: #f95f5f !important;
          color: $base-container-backgroung-color !important;
          border-radius: 12px !important;
          font-size: 14px !important;
          gap: 1px;
          cursor: pointer;
          font-weight: bold !important;
          padding: 7px 16px !important;
          &:hover {
            background: #fa7676 !important;
          }
        }
      }
    }
  }

  &__music_container {
    // margin-top: 20px;
    // width: 100%;

    &__button_container {
      // @include flexProperties(row, flex-start, center, $fullWidth: true);
      // gap: 30px;
      width: 100%;

      &__button {
        width: 100% !important;
        color: $base-container-backgroung-color !important;
        // background-color: #498E72 !important;
        border-radius: 12px !important;
        white-space: nowrap !important;
        padding: 8px 50px !important;
        font-size: 14px !important;
        font-weight: bold !important;
      }

      &__slider_box {
        @include flexProperties(
          column,
          flex-start,
          flex-start,
          $fullWidth: true
        );
        width: 100%;

        &__title {
          @include fontSize(18px);
          color: $base-button-background-color !important;
        }

        &__slider {
          @include flexProperties(row, flex-start, center, $fullWidth: true);
          gap: 20px;
          width: 100%;

          &__text {
            color: $base-button-background-color;
            @include fontSize(14px);
            width: 100px;
          }
        }
      }
    }
  }

  &__music_details {
    margin-top: 20px;

    &__main_container {
      @include flexProperties(column, center, flex-end, $fullWidth: false);
      gap: 20px;

      &__box {
        @include flexProperties(row, flex-end, center, $fullWidth: false);
        gap: 10px;

        &__details {
          @include flexProperties(row, center, center, $fullWidth: true);
          gap: 5px;
          border: 2px solid $base-button-background-color;
          padding: 8px 30px;
          border-radius: 8px;
          min-width: 200px;
          flex-wrap: wrap;

          &__text {
            text-transform: capitalize;
            letter-spacing: 2px;
            @include fontSize(16px);
          }
        }

        &__actions {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          // max-width: 100px;
          width: 90px;
        }
      }
    }
  }
  .actionEdit {
    background-color: $base-button-background-color !important;
    width: 33px;
    height: 33px;
    color: $base-container-backgroung-color;
    &:hover {
      background-color: $base-button-background-color;
    }
  }
  .actionDelete {
    background-color: #f95f5f !important;
    width: 33px;
    height: 33px;
    color: $base-container-backgroung-color !important;
    &:hover {
      background-color: #f95f5f;
    }
  }
  .smallHeading {
    @include customFontsSmallTags();
  }
  .radioBtn {
    color: $base-button-background-color;
  }
}

@media only screen and (max-width: 467px) {
  .page {
    &__music_container {
      &__button_container {
        @include flexProperties(
          column,
          flex-start,
          flex-start,
          $fullWidth: true
        );

        &__button {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .page {
    &__new_music {
      &__main {
        &__form {
          width: 100%;

          &__form_fields {
            @include flexProperties(
              column,
              flex-start,
              flex-start,
              $fullWidth: true
            );
            width: 100%;

            &__input {
              width: 100%;
            }

            &__select {
              width: 100%;
            }
          }

          &__button {
            width: 100%;
          }
          &__button2 {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page {
    margin-top: 20px;

    &__new_music {
      flex-wrap: wrap;
    }
  }
}
.buttonDisabled {
  background-color: #498e72 !important;
  &:hover {
    background-color: #498e72;
  }
}
.buttonActive {
  background-color: $base-button-background-color !important;
  &:hover {
    background-color: $base-button-background-color !important;
  }
}
