@import "../../styles/colors.scss";
@import "../../styles/scss.scss";

.page {
  @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
  width: 100% !important;
  // height: 100% !important;

  &__banner {
    @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
    width: 100% !important;
  }

  &__main_content {
    @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
    width: 100% !important;
    height: 1200px !important;
    max-height: 1200px !important;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (max-width: 1425px) {
  .page {
    &__statusBar {
      width: 100%;
    }

    &__banner {
      width: 100%;
    }

    &__main_content {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page {
    &__statusBar {
      display: none;
    }

    &__banner {
      &__conatiner {
        flex-direction: column;

        &__content {
          @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
        }
      }
    }
  }
}

@media only screen and (max-width: 578px) {
  .page {
    &__banner {
      &__conatiner {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 412px) {
  .page {
    &__banner {
      &__conatiner {
        &__content {
          &__title {
            @include fontSize(42px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 364px) {
  .page {
    &__banner {
      &__conatiner {
        &__content {
          &__title {
            @include fontSize(36px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 328px) {
  .page {
    &__banner {
      &__conatiner {
        &__content {
          &__title {
            @include fontSize(30px);
          }
        }
      }
    }
  }
}
