@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
    &__stepper_btn_wrapper {
        &__steps {
            background-color: #444b61;
            border: 1px solid #4ffcb7;
            border-radius: 10px;
            padding: 8px 8px !important;
            width: 20%;
            text-align: center;
            color: #4ffcb7 !important;
        }
    }

    &__back_btn {
        @include activeThemeBotton(16px, 10px);
        width: auto;
        margin-right: 20px !important;
    }
    &__download_btn {
        @include activeThemeBotton(16px, 10px);
        background-color: #4ffcb7 !important;
        width: auto;
        margin-right: 20px !important;

        &:hover {
            background-color: #4ffcb7 !important;
        }
    }
}
