@import "../../../styles/scss.scss";
@import "../../../styles/colors.scss";

.page {
  &__stepper_btn_wrapper {
    &__steps {
      // background-color: #222c41;
      // border: 1px solid #4ffcb7;
      border-radius: 10px;
      padding: 8px 8px !important;
      width: 20%;
      text-align: center;
      color: #fff !important;
    }
  }

  &__download_btn {
    @include activeThemeBotton();
    white-space: nowrap;
    padding: 9px 50px !important;
  }
  &__nextBtn {
    @include activeThemeBotton();
    background: $base-border-line-color !important;
    color: $base-heading-color !important;
    padding: 9px 50px !important;
    &:hover {
      background: $base-border-line-color !important;
      color: $base-heading-color !important;
    }
  }
}

.backBtn {
  @include cancelDeactiveBtn(14px);
  // padding: 5px !important;
  margin-right: 15px !important;
}
.saveBtn {
  @include activeThemeBotton();
  // padding: 5px !important;
}
