@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  @include flexProperties(column, space-between, center, $fullWidth: true);
  width: 100%;
  &__list {
    width: 100%;
    &__ul {
      &__li {
        &__name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          width: 100px;
          font-size: 16px;
          line-height: 25px;
          @include customHeading(16px);
        }

        &__tracktype {
          line-height: 25px;
          @include customParagraph(16px);
          text-transform: capitalize;
        }
      }
    }

    &__loader {
      @include flexProperties(column, center, center, $fullWidth: true);
      width: 100%;
      height: 100%;
    }
  }
}
.table {
  background: $base-container-backgroung-color !important;
  height: 600px !important;
  max-height: 600px !important;
  &::-webkit-scrollbar {
    display: none;
  }

  &__head {
    position: sticky;
    z-index: 1;
    @include textEllipsis();
  }

  &__col {
    background: $base-container-backgroung-color !important;
    text-align: left !important;
    width: 50px !important;
    border-bottom: 1px solid #474d5e;
    @include textEllipsis();
    &__heading {
      @include customFontsSmallTags();
    }

    &__last {
      color: white !important;
      background: #2f3443 !important;
      text-align: center !important;
    }

    &__lastdays {
      color: rgb(145, 144, 144) !important;
      background: #2f3443 !important;
      text-align: center !important;
      font-size: 8px;
    }
  }

  &__row {
    color: #d6d6d6 !important;
    border-bottom: 0px !important;
    background-color: $base-table-row-background-color;
    &__green {
      color: green;
    }

    &__red {
      color: red;
    }

    &__icon {
      cursor: pointer;
    }

    &__name {
      display: flex;
      width: 200px;
      justify-content: flex-start;
      align-items: center;
    }
    &__sosi {
      // width: 10%;
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .page {
    &__list {
      max-width: 325px;
      &__ul {
        &__li {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          gap: 30px;
          &__name {
            text-align: center;
          }
        }
      }
    }
  }
  .table {
    // &__col {

    // }
    overflow-x: scroll;

    &__row {
      &__sosi {
        width: 100%;
      }
    }
  }
}
