@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  // margin-top: 20px;

  &__list {
    // overflow-y: scroll;
    max-width: 100%;
    &__ul {
      // height: 415px;
      // overflow: auto;
      // list-style: none;
      // padding: 0;
      // margin: 0;

      &__li {
        // @include flexProperties(row, space-between, center, $fullWidth: true);
        // gap: 30px;
        // border-bottom: 1px solid rgba(255, 255, 255, .2);
        // padding: 20px;
        // cursor: pointer;

        // &:last-child {
        //     border-bottom: none;
        // }

        &__name {
          font-size: 16px;
          line-height: 25px;
          text-transform: capitalize;
          letter-spacing: 0px;
          color: $base-text-color-secondary;
          font-weight: 700;
          @include textEllipsisLineClamp(2);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100px;
        }
        &__tracktype {
          font-size: 15px;
          line-height: 25px;
          text-transform: capitalize;
          letter-spacing: 0px;
          color: $base-text-color-secondary;
          font-weight: normal;
        }
      }
    }

    &__loader {
      @include flexProperties(column, center, center, $fullWidth: true);
      width: 100%;
      height: 100%;
    }
  }
}
.table {
  background: #222c41 !important;
  min-height: 41rem;
  max-height: 41rem;
  &::-webkit-scrollbar {
    display: none;
  }
  &__head {
    position: sticky;
    z-index: 1;
    @include textEllipsis();
  }
  &__col {
    color: #4ffcb7 !important;
    background: #222c41 !important;
    text-align: left !important;
    width: 50px !important;
    border-bottom: 1px solid #474d5e;
    font-weight: normal !important;
    @include textEllipsis();
    &__last {
      color: white !important;
      background: #2f3443 !important;
      text-align: center !important;
    }
    &__lastdays {
      color: rgb(145, 144, 144) !important;
      background: #2f3443 !important;
      text-align: center !important;
      font-size: 8px;
    }
  }

  &__row {
    color: #d6d6d6 !important;
    border-bottom: 0px !important;
    background-color: #192233;
    padding-left: 20px !important;
    // text-align: center !important;
    max-width: 500px;
    &__green {
      color: green;
    }

    &__red {
      color: red;
    }

    &__icon {
      cursor: pointer;
    }

    &__name {
      display: flex;
      width: 200px;
      justify-content: flex-start;
      align-items: center;
    }
    &__sosi {
      // width: 10%;
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .page {
    &__list {
      max-width: 325px;
      &__ul {
        &__li {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          gap: 30px;
          &__name {
            text-align: center;
          }
        }
      }
    }
  }
  .table {
    // &__col {

    // }
    overflow-x: scroll;

    &__row {
      &__sosi {
        width: 100%;
      }
    }
  }
}
