@import "../../styles/colors.scss";
@import "../../styles/scss.scss";
.loginContant {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/login_bg.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;

  //   display: flex !important;
  //   justify-content: center !important;
  //   align-items: center !important;

  &__login {
    // width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 40px;
    // margin-left: 25%;

    &__info {
      @include flexProperties(column, flex-end, flex-start, $fullWidth: true);
      gap: 50px;

      &__text {
        font-size: 46px;

        &__highlighted {
          background: $secondary-bg-color-2;
        }
      }

      &__list {
        @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
          @include flexProperties(row, flex-start, center, $fullWidth: true);
          gap: 20px;

          &__text {
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }

    &__form {
      @include flexProperties(column, flex-end, center, $fullWidth: true);
      gap: 20px;

      &__box {
        min-height: calc(100vh - 240px);
        background-color: rgba(0, 0, 0, 0.5) !important;
        border-radius: 8px;
        border: 2px solid #286397;
      }

      &__coptrights {
        color: #dedede;
      }
    }
  }

  &__contact {
    height: 52px;
    width: 60%;
    background: rgba(0, 3, 54, 0.1);

    border-radius: 12px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    // border: solid;
    // border-width: 1px;
    // border-color: #286397;
    border-radius: 12px;
    margin-top: 50px;
  }
  &__contactText {
    width: 60%;
  }
}

@media only screen and (max-width: 991px) {
  .page {
    &__login {
      &__info {
        display: none;
      }
    }
  }
}
