@import "../../../../styles/scss.scss";
@import "../../../../styles/colors.scss";

.header {
  position: relative;
  .btnsPos {
    position: absolute;
    display: flex;
    gap: 20px;
    right: 20px;
    bottom: 3rem;
    .downloadBtn {
      button {
        @include activeThemeBotton();
        // background-color: $base-button-background-color;
        // color: $base-container-backgroung-color;
        // border-radius: 12px;
        // font-size: 14px;
        // font-weight: bold;
        transition: all 0.3s ease-in-out;
      }
    }
    .saveBtn {
      button {
        // background-color: $base-button-background-color;
        padding: 8px 20px;
        color: $base-container-backgroung-color;
        border-radius: 12px;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .searchBarMob {
    height: 40px !important;
    width: 100%;
    display: none;
  }
}
.page {
  font-family: "DM Sans";
  padding: 0px 20px;

  &__slider_container {
    // @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
    // gap: 20px;

    &__slider_box {
      @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
      // gap: 20px;
      width: 100%;

      &__include {
        margin-top: 20px;
        @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
        // gap: 20px;

        &__inputs {
          @include flexProperties(row, flex-start, center, $fullWidth: true);
          // gap: 20px;

          &__input {
            border: 2px solid $base-button-background-color;
            background: transparent;
            padding: 10px 20px;
            color: $base-button-background-color;
            border-radius: 10px;
            @include fontSize(20px);
          }
        }
      }

      &__button {
        margin-top: 10px;
      }

      &__title {
        @include customFontsSmallTags(); // @include fontSize(12px);
        // color: $base-button-background-color;
        // text-transform: uppercase !important;
        &__recoup {
          font-size: 26px !important;
          font-weight: bold !important;
        }
      }

      &__slider {
        @include flexProperties(row, flex-start, center, $fullWidth: true);
        // gap: 20px;
        width: 100%;

        &__text {
          color: $base-button-background-color;
          @include fontSize(14px);
          width: 100px;
          margin-left: 18px;
        }
      }
    }
  }
  &__main {
    @include flexProperties(row, flex-start, center, $fullWidth: true);
    flex-wrap: wrap;
  }
  &__field {
    margin-top: 20px;
    @include flexProperties(column, flex-start, flex-start, $fullWidth: true);
    gap: 13px;

    &__title {
      @include fontSize(16px);
    }

    &__input {
      border: 2px solid $base-button-background-color;
      background: transparent;
      padding: 10px 30px;
      color: $base-button-background-color;
      border-radius: 10px;
      @include fontSize(20px);
      &:focus {
        outline: $base-button-background-color solid 2px !important;
      }
    }
  }

  &__button {
    @include activeThemeBotton();
    width: auto;
    padding: 10px 30px;
    margin-top: 50px !important;
    // background: $base-button-background-color !important;
    // color: $base-container-backgroung-color;
    // border-radius: 12px;
    // font-size: 16px;
    // font-weight: bold;
    // cursor: pointer;
    // text-transform: capitalize;
    // border: none;

    &:hover {
      background: $base-button-background-color !important;
    }
  }
  &__totalSpend {
    margin-top: -50px;
    .walletImg {
      position: relative;
      overflow: hidden;
      img {
        width: 500px;
        height: 350px;
      }
      .walletContent {
        position: absolute;
        bottom: 45px;
        left: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
  .recoupHeading {
    @include customFontsSmallTags(24px);
    font-weight: bold !important;
    padding-bottom: 10px;
  }
  .radioBtn {
    color: $base-button-background-color !important;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    &__slider_container {
      &__slider_box {
        &__title {
          @include fontSize(20px);
        }
      }
    }

    &__field {
      &__title {
        @include fontSize(20px);
      }
    }
    &__totalSpend {
      // height: 100%;
      width: 100% !important;
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 580px) {
  .page {
    &__slider_container {
      &__slider_box {
        gap: 10px;

        &__title {
          @include fontSize(16px);
        }
      }
    }

    &__field {
      &__title {
        @include fontSize(16px);
      }
    }
    &__totalSpend {
      .walletImg {
        img {
          width: 100% !important;
          height: 100% !important;
        }
        .walletContent {
          bottom: 5px;
          left: 20px;
          gap: 10px !important;
        }
      }
    }
    .fontSize {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 340px) {
  .page {
    &__slider_container {
      &__slider_box {
        gap: 10px;

        &__title {
          @include fontSize(14px);
        }
      }
    }

    &__field {
      &__title {
        @include fontSize(14px);
      }

      &__input {
        padding: 8px 20px;
        border-radius: 5px;
        @include fontSize(16px);
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .page {
    &__totalSpend {
      margin-top: 0px;
      img {
      }
    }
  }
}

.mainInputField {
  position: relative;
  .inputFileds {
    border-bottom: 1px solid $base-heading-color !important;
    color: $base-heading-color;
    font-size: 38px;
    font-weight: bold !important;
    width: 180px;
    font-family: "DM Sans";
    &::placeholder {
      color: $base-heading-color !important;
      font-size: 38px !important;
    }

    &::after {
      border-bottom: 2px solid $base-button-background-color !important;
    }
  }
  .yrs {
    position: absolute;
    left: 46px;
    color: $base-heading-color !important;
    font-size: 38px !important;
    font-weight: bold !important;
  }
  .dollar {
    position: absolute;
    left: 0px;
    bottom: 7px;
    // color: #6d7480;
    font-size: 25px !important;
    font-weight: bold !important;
    font-family: "DM Sans";
  }
  .dollarField {
    font-size: 30px !important;
    margin-top: 15px !important;
    color: $base-heading-color !important;
    &::placeholder {
      color: $base-border-line-color;
    }
    // font-family: "DM Sans";
  }
}

@media only screen and (max-width: 1300px) {
  .header {
    .btnsPos {
      left: 0;
      top: 20px;
    }
    .searchBarMob {
      display: block !important;
    }
  }
}
