@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;

  &__notes {
    flex: 1;
    width: 100%;

    &__notebox {
      width: 100%;
      background: #192233;
      border-radius: 12px;
      padding: 20px;

      &__chips {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
      }

      &__notetext {
        font-size: 14px;
        color: #fff;
      }
    }

    &__noteboxControls {
      @include flexProperties(column, center, center, $fullWidth: true);
      flex-direction: column !important;
      gap: 15px;
    }

    &__box {
      @include flexProperties(column, flex-start, flex-start, $fullWidth: false);
      width: 100%;
      gap: 20px;

      &__adetails {
        width: 100%;
        background: $secondary-bg-color-1;
        border-radius: 12px;
        padding: 20px;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;
          margin-bottom: 20px;

          &__title {
            color: $base-text-color;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: capitalize;
          }

          &__Editbtn {
            background-color: #1976d2 !important;
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
            padding: 0px;
            min-width: 50px !important;
          }
        }
      }

      &__tracks {
        width: 100%;
        background: $secondary-bg-color-1;
        border-radius: 12px;
        padding: 20px;

        &__header {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          width: 100%;

          &__title {
            color: $base-text-color;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }

          &__btn {
            background: $secondary-bg-color-3 !important;
            color: $base-text-color !important;
            border-radius: 25px !important;
            font-size: 14px;
            cursor: pointer;
            text-transform: uppercase;
            border: none;
            padding: 5px 20px !important;

            &:hover {
              background: #01a177 !important;
            }
          }
        }
      }
    }
  }

  &__list {
    // overflow-y: scroll;
    min-height: 39.1rem;
    max-height: 39.1rem;
    width: 100% !important;
    // max-width: 100%;
    &__ul {
      // height: 415px;
      // overflow: auto;
      // list-style: none;
      // padding: 0;
      // margin: 0;

      &__li {
        // @include flexProperties(row, space-between, center, $fullWidth: true);
        // gap: 30px;
        // border-bottom: 1px solid rgba(255, 255, 255, .2);
        // padding: 20px;
        // cursor: pointer;

        // &:last-child {
        //     border-bottom: none;
        // }

        &__name {
          font-size: 15px;
          line-height: 25px;
          text-transform: capitalize;
          letter-spacing: 0px;
          color: $base-text-color;
          font-weight: normal;
          @include textEllipsisLineClamp(2);
        }
        &__tracktype {
          font-size: 15px;
          line-height: 25px;
          text-transform: capitalize;
          letter-spacing: 0px;
          color: $base-text-color;
          font-weight: normal;
        }
      }
    }

    &__loader {
      @include flexProperties(column, center, center, $fullWidth: true);
      width: 100%;
      height: 100%;
    }
  }
}

.table {
  background: #222c41 !important;
  overflow: scroll;
  overflow-x: hidden !important;
  width: 100%;
  min-height: 37.3rem;
  max-height: 37.3rem;
  border-collapse: separate !important;
  border-spacing: 4px !important;

  &__head {
    position: sticky;
    z-index: 1;
    &:first-child {
      width: 5%;
    }
  }

  &__brow {
    overflow: hidden !important;
  }

  &__col1 {
    width: 100% !important;
    color: white !important;
    background: #2f3443 !important;
    text-align: left !important;
    width: auto !important;
    text-transform: uppercase;
    border-bottom: 1px solid #474d5e;
  }

  &__col {
    background: #222c41 !important;
    text-align: left !important;
    width: auto !important;
    border-bottom: 1px solid #2f3443 !important;
    &__heading {
      @include customFontsSmallTags();
    }
    &:first-child {
      width: 30px !important;
    }
    // font-weight: bold !important;
  }

  &__row {
    color: #fff !important;
    background-color: #192233;
    // text-align: center !important;
    // max-width: 500px;
    // padding-top: 12px !important;
    // padding-bottom: 12px !important;
    // padding-right: 60px !important;
    border-bottom: 3px solid #192233 !important;
    &__date {
      text-decoration: underline;
    }

    &__action2 {
      justify-content: center;
      display: flex;
      &__btn {
        width: 30px !important;
        min-width: 30px !important;
        height: 30px !important;
        min-height: 30px !important;
        padding: 15px !important;
        background-color: #4fb7fc !important;
        color: #000;
        margin-right: 10px !important;
        border-radius: 15px !important;
      }
      &__btn1 {
        width: 30px !important;
        min-width: 30px !important;
        height: 30px !important;
        min-height: 30px !important;
        padding: 15px !important;
        background-color: #d9d9d9 !important;
        color: #000;
        margin-right: 10px !important;
        border-radius: 15px !important;
      }
      &__btn2 {
        width: 30px !important;
        min-width: 30px !important;
        height: 30px !important;
        min-height: 30px !important;
        padding: 15px !important;
        background-color: #4ffcb7 !important;
        color: #000;
        margin-right: 10px !important;
        border-radius: 15px !important;
      }
    }

    &__green {
      color: green;
    }

    &__red {
      color: red;
    }

    &__icon {
      cursor: pointer;
    }

    &__filename {
      font-size: 16px;
      white-space: nowrap; // Prevents text from wrapping to a new line
      overflow: hidden; // Hides any overflow beyond the container
      text-overflow: ellipsis; // Adds ellipsis when text overflows
      max-width: 15rem;
    }

    &__artistname {
      // font-weight: bold;
      font-size: 16px;
      img {
        transform: translateY(5px);
        margin-right: 5px;
      }
    }
    &__href {
      text-decoration: none;
    }
    &__href:hover {
      color: palevioletred;
    }

    &__name {
      width: 15rem;
      max-width: 15rem;
    }
    &__sosi {
      // width: 10%;
      font-size: 12px;
    }
  }

  &__notes_row {
    color: #fff !important;
    background-color: #222c41;
    // text-align: center !important;
    // max-width: 500px;
    // padding-top: 12px !important;
    // padding-bottom: 12px !important;
    // padding-right: 60px !important;
    padding-top: 40px !important;
    border-bottom: 3px solid #222c41 !important;
  }
}
.notebox.note {
  overflow: visible !important;
}

.note::before {
  content: "";
  width: 120%;
  height: 15px;
  background-color: #222c41;
  position: absolute;
  top: -15px;
  left: -30px;
  z-index: 2;
}

.modalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222c41;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #192233;
  padding: 20px;
  color: #ffffff;
  border: none;

  &__closebutton {
    text-align: right;
    img {
      cursor: pointer;
    }
  }

  &__textfield {
    background-color: #192233;
    border-radius: 12px;
    resize: none;
    width: 60vw;
    color: #fff !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;

    // &:focus {
    // outline: none !important;
    // }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__urev {
      margin-right: 5px !important;
      border-radius: 12px !important;
      padding: 15px 20px !important;
    }

    &__cmnt {
      border-radius: 12px !important;
      padding: 15px 20px !important;
    }
  }
}

@media only screen and (max-width: 460px) {
  .page {
    &__list {
      max-width: 325px;
      &__ul {
        &__li {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          gap: 30px;
          &__name {
            text-align: center;
          }
        }
      }
    }
  }
  //   .table {
  //     // &__col {

  //     // }
  //     overflow-x: scroll;

  //     &__row {
  //       &__sosi {
  //         width: 100%;
  //       }
  //     }
  //   }
}
