@import "../../../styles/scss.scss";
@import "../../../styles/colors.scss";

.page {
  @include flexProperties(column, center, center, $fullWidth: true);
  width: 100% !important;
  font-family: "DM Sans";

  &__searchbanner {
    display: flex;
    width: 100% !important;
    background-image: $base-search-artist-gredient;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 12px;
    padding: 40px;
    height: 118px !important;
    max-height: 118px !important;

    &__text {
      @include customHeading(28px);
      width: 40%;
    }

    &__searcharea {
      width: 45%;
      &__search {
        width: 100%;
        padding: 10px;
        border-radius: 12px;
        border-style: none;
        background-color: rgba(0, 0, 0, 0.3) !important;
        color: #ffffff;
        &::placeholder {
          color: white;
        }
      }
    }
    &__searchbtnarea {
      width: 15%;
      align-items: center;
      justify-content: center;
      border-style: none;
      margin-left: 10px;
      &__searchbtn {
        width: 141px !important;
        height: 40px;
        @include activeThemeBotton(14px, 12px);
        filter: drop-shadow(3px 3px 6px #1a1a1a50);
      }
    }

    &__background {
      &__conatiner {
        @include flexProperties(column, space-between, flex-start, $fullWidth: false);
        gap: 20px;
        height: 11.2rem;

        &__title {
          @include fontSize(20px);
          color: #4ffcb7 !important;
          letter-spacing: 0.1rem !important;
        }

        &__content {
          display: grid;
          grid-template-columns: 3fr 1fr;
          align-items: flex-end;
          justify-content: center;
          width: 100%;
          gap: 20px;

          &__title {
            color: #4ffcb7;
            @include fontSize(40px);
            // font-weight: bold;
          }

          &__text {
            color: #4ffcb7;
          }

          &__button {
            background: #1a1a1a !important;
            color: #4ffcb7 !important;
            @include disabledCss();
          }
        }
      }
    }
  }

  &__title_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      @include fontSize(25px);
      font-weight: normal;
    }

    &__subtitle {
      color: #c9c9c9 !important;
    }
  }

  &__fieldsContainer {
    background: $base-container-backgroung-color;
    border-radius: 12px;

    &__form {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 20px;
      gap: 40px;
      padding-bottom: 40px;

      &__formfield {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__label {
          @include flexProperties(row, flex-start, center, $fullWidth: true);
          @include customFontsSmallTags();
          margin-left: 10px;
          &__image {
            height: 18px;
            width: 18px;
          }
        }

        &__input {
          color: $base-input-text-color !important;
          border: 1px none !important;
          background: $base-input-background-color;
          outline: none;
          padding: 15px;
          font-size: 18px;
          border-radius: 8px;
          width: 100%;
          option {
            background-color: $base-inner-container-background-color;
          }
        }

        &__phoneinput {
          border: 1px none !important;
          border-radius: 8px;
          padding: 15px;
          color: $base-input-text-color !important;
          background: $base-input-background-color;

          input {
            color: $base-input-text-color !important;
            background: $base-input-background-color;
            outline: none;
            font-size: 18px;
            border: none;
          }

          option {
            background-color: $base-input-background-color;
            color: $base-input-text-color;
          }
        }
      }

      &__cancel_btn {
        @include cancelDeactiveBtn(16px, 12px);
      }

      &__submit_btn {
        @include activeThemeBotton(16px, 12px);
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .page {
    &__fieldsContainer {
      &__search_container {
        width: 100%;

        &__search_icon {
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .page {
    &__fieldsContainer {
      &__search_container {
        &__search_icon {
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .page {
    &__fieldsContainer {
      &__search_container {
        &__search_icon {
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .page {
    &__searchbanner {
      display: none;
    }
    &__fieldsContainer {
      &__search_container {
        width: 100%;

        &__search_icon {
        }
      }
    }
  }
}

@media only screen and (max-width: 1027px) {
  .page {
    &__searchbanner {
      &__text {
        font-size: 24px !important;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .page {
    &__searchbanner {
      display: none;
    }
    &__fieldsContainer {
      &__search_container {
        &__search_icon {
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .page {
    &__fieldsContainer {
      &__search_container {
        &__search_icon {
        }
      }
    }
  }
}

@media only screen and (max-width: 2560px) {
  .page {
    &__fieldsContainer {
      &__search_container {
        &__search_icon {
        }
      }
    }
  }
}
