@import "../../styles/scss.scss";
@import "../../styles/colors.scss";

.page {
  @include flexProperties(column, flex-start, center, $fullWidth: true);
  width: 100% !important;
  height: 100% !important;

  &__list {
    width: 100% !important;
    height: 100% !important;
  }
}

.table {
  height: 100% !important;
  width: 100% !important;
  background: $base-container-backgroung-color !important;
  overflow: scroll;

  &__head {
    background-color: $base-container-backgroung-color !important;
    position: sticky;
    z-index: 9999 !important;
  }

  &__brow {
    tr {
      &:nth-child(even) {
        background-color: $base-inner-container-background-color !important;
      }

      &:nth-child(odd) {
        background-color: $base-inner-container-background-color !important;
      }
    }
  }

  &__col {
    background: $base-container-backgroung-color !important;
    text-align: left !important;
    width: 50px !important;
    border-bottom: 1px solid $base-border-line-color;
    @include textEllipsis();
    &__heading {
      @include customFontsSmallTags();
    }
  }

  &__no_contracts {
    @include customHeading();
  }

  &__row {
    border-bottom: 0px !important;
    background-color: $base-inner-container-background-color !important;
    @include textEllipsis(1);
    &__artistname {
      @include customHeading(24px);
      &__href {
        @include customHeading(24px);
        text-decoration: none;
      }
    }
    &__date {
      @include customParagraph(14px);
      text-decoration: underline;
    }
    &__rep_name {
      @include customParagraph(14px);
      text-decoration: underline;
      text-transform: capitalize;
    }
    &__status {
      &__cip {
        @include customParagraph(14px);
        color: $base-paragraph-color !important;
        border-color: transparent !important;
      }
      &__circle {
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .page {
    &__list {
      max-width: 325px;
      &__ul {
        &__li {
          @include flexProperties(row, space-between, center, $fullWidth: true);
          gap: 30px;
          &__name {
            text-align: center;
          }
        }
      }
    }
  }
  .table {
    // &__col {

    // }
    // overflow-x: scroll;

    &__row {
      &__sosi {
        width: 100%;
      }
    }
  }
}
