@import "../../styles/scss.scss";

.table {
  background: #2f3443 !important;

  &__col {
    color: #4ffcb7 !important;
    background: #222c41 !important;
    border-bottom: 1px solid #5a7380 !important;
    // @include textEllipsis();
    text-transform: uppercase;
    font-size: 12px !important;
  }
  &__topTracks {
    display: none;
  }

  &__row {
    color: #d6d6d6 !important;
    border-radius: none;
    &__genre {
      // background-color: red;
      display: flex;
      font-size: 10px !important;
      // flex-wrap: wrap;
      gap: 5px;
      &__chip {
        background-color: #222c41 !important;
        color: white !important;
        padding: 15px 5px !important;
      }
    }

    // text-align: center !important;

    &__editbutton {
      @media screen and (max-width: 1540px) {
        transform: translateX(-15px);
      }
    }

    img {
      transform: translateX(-15px);
    }

    &__green {
      color: green;
    }

    &__red {
      color: red;
    }

    &__icon {
      cursor: pointer;
    }

    &__name {
      display: flex;
      width: 200px;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.modalCss {
  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222c41;
    font-size: 20px;
    font-weight: bold;
    background-color: #4ffcb7;
    width: 100%;
    height: 46px;
    border-radius: 12px 12px 0px 0px;
  }
  &__button {
    color: #e12020 !important;
    border: 1px solid #e12020 !important;
    border-radius: 12px !important;
    padding: 5px 60px !important;
  }
}
